html{
	font-size : 2em;
}

header{
	background-color:black;
	left: 0px;
    right: 0px;
    top: 0px;
	position:sticky;
}
.titre{
	text-align: center;
	color: white;
	filter:blur(1px);
	background-color:black;
}

.titres{
	text-align: center;
	text-decoration: underline;
}

body{
	background: linear-gradient(to bottom right, black, blue, cyan, white);
	color: white;
}

.des{
	margin-left: 60px;
    margin-right: 60px;
}
.video{
	display: flex;
	margin-left: auto;
    margin-right: auto;
	width: 1200px;
    height: 750px;
}

footer{
	text-align: right;
	color:black;
}